<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가정문( v-if )</title>
    <script defer src="https://unpkg.com/vue@next"></script> <!-- cdn 연결 -->
    <script defer src="./js/sec08.js"></script>
</head>
<body>
  <div id="app">
      <!-- <h1 v-if="sample">true값입니다.</h1> -->
      <h1 v-if="num < 0">true값입니다.</h1>
      <h1 v-else-if="num > 50">num값이 참입니다.</h1>
      <h1 v-else-if="title === 'num'">title의 값이 참입니다.</h1>
      <h1 v-else>false값입니다.</h1>
  </div>
</body>
</html>